<div class="gwa-game">
	<div id="gridwars-loading" ng-show="!gameLoaded">
		<h2 class="title">Game Loading...</h2>
	</div>
	<div id="gridwars-engine" style="cursor: none" ng-show="gameLoaded"></div>
	<div style="clear: both;" ng-show="gameLoaded"></div>
	<div class="gameMenu" ng-show="gameLoaded">
		<!--<h2 class="title" style="">Options</h2>
		<div class="menuStore">
			<h3 class="menuTitle">Store</h3>
		</div>-->
		<button class="btn btn-sm menuBtn" type="button" ng-click="controller.purchaseObject('TURRET')"><img src="app/assets/icons/Turret Icon.png" /></button>
		<button class="btn btn-sm menuBtn" type="button" ng-click="controller.purchaseObject('TANK')"><img src="app/assets/icons/Tank Icon.png" /></button>
	</div>
</div>