<div class="gwa-login">
	<h1>LOGIN PAGE</h1>

	<section>
		<div class="row">
	        <form ng-submit="controller.login(username, password)" class="col-md-3 col-md-offset-1">
                <input type="text" placeholder="Username" ng-model="username" id="username" class="form-control">
                <input type="text" placeholder="Password" ng-model="password" id="password" class="form-control">
                <button class="btn"><span class="glyphicon glyphicon-user"></span> Login</button>
	        </form>
	    </div>
	</section>
	
</div>