<div class="gwa-form">
	<h2 class="title">Please log in</h2>
	<form ng-submit="controller.login(username, password)" class="">
		<input type="text" placeholder="Username" ng-model="username"
			id="username" class="form-control"> <input type="password"
			placeholder="Password" ng-model="password" id="password"
			class="form-control">
		<p>{{ loginError }}</p>
		<button class="btn form-button">
			<span class="glyphicon glyphicon-user"></span> Login
		</button>
		<button ng-click="controller.goToRegister()" class="btn form-button">
			<span class="glyphicon glyphicon-user"></span> New User?
		</button>
		<div style="clear: both;"></div>
	</form>
</div>