.boxed {
	border: 1px solid black;
}

.chat-container {
    height: 40vh;
    overflow: auto;
}

.player-table {
	height: 30vh;
	overflow: auto;
}

.map-table {
	overflow: auto;
}

.map-preview {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	height: 250px;
	width: 250px;
}