<div class="gwa-lobby">
	<h2 class="title">Game Lobby <a ng-click="controller.logOut()">Logout</a></h2>

	<section ng-if="$root.gameLeader===true">      <!-- CREATOR VIEW -->
        <div class="col-md-6">
        <h2 class="title">Game Options</h2>
	        <ul class="nav nav-tabs col-md-12" ng-if="tabSelect!=='Game Rules'">
				<li class="active"><a>Map Selection</a></li>
				<li><a class="inactiveTab whiteText" ng-click="controller.setTab('Game Rules')">Game Rules</a></li>
			</ul>
			<ul class="nav nav-tabs col-md-12" ng-if="tabSelect==='Game Rules'">
                <li><a class="inactiveTab whiteText" ng-click="controller.setTab('Map Selection')">Map Selection</a></li>
                <li class="active"><a>Game Rules</a></li>
            </ul>
	        <div ng-if="tabSelect!=='Game Rules'">
		        <section class="col-md-6">
		        <h3 class="subTitle">Map Selection</h3>
		        <table class="table table-striped map-table" id="map-list">
		            <tr>
		                <th>Map Name</th>
		                <th>Players</th>
		                <th>Select</th>
		            </tr>
		            <tr ng-repeat="map in $root.mapList">
		                <td class="tdInfo">{{map.mapName}}</td>
		                <td class="tdInfo textCentral">{{map.maxPlayers}}</td>
		                <td class="tdInfo textCentral">
		                    <button type="button" class="btn btn-default btn-sm" ng-click="controller.changeMap(map)" ng-if="$root.gameConfig.mapId!=map.mapId">Select</button>
		                    <span class="glyphicon glyphicon-ok textCentral" ng-if="$root.gameConfig.mapId==map.mapId"></span>
		                </td>
		            </tr>
		        </table>
		        </section>

                <section class="col-md-6">
                    <h3 class="subTitle">Map Preview</h3>
                    <div class="map-preview">
                    </div>
                </section>
	        </div>
            <div ng-if="tabSelect==='Game Rules'">  <!-- GAME RULES TAB -->
                <section class="col-md-12 rulesContainer">
                    <h3 class="subTitle">Game Rules</h3>
                    <section class="col-md-6 rulesColumn">
	                    <p>Starting Cash:</p>
		                <div class="btn-group fullWidth">
		                    <button type="button" class="btn btn-default btn-sm dropdownBtn">${{$root.gameConfig.startingCash}}</button>
		                    <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdownArrow" data-toggle="dropdown">
		                        <span class="caret"></span>
		                        <span class="sr-only">Toggle Dropdown</span>
		                    </button>
		                    <ul class="dropdown-menu">
		                        <li><a ng-click="controller.changeCash(5000)">$5000</a></li>
		                        <li><a ng-click="controller.changeCash(10000)">$10000 (Default)</a></li>
		                        <li><a ng-click="controller.changeCash(20000)">$20000</a></li>
		                    </ul>
		                </div><br />
		                <p>Game Speed:</p>
		                <div class="btn-group fullWidth">
		                    <button type="button" class="btn btn-default btn-sm dropdownBtn" ng-if="$root.gameConfig.gameSpeed===100">{{$root.gameConfig.gameSpeed}}%</button>
		                    <button type="button" class="btn btn-default btn-sm dropdownBtn" ng-if="$root.gameConfig.gameSpeed!==100">{{$root.gameConfig.gameSpeed}}%</button>
		                    <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdownArrow" data-toggle="dropdown">
		                        <span class="caret"></span>
		                        <span class="sr-only">Toggle Dropdown</span>
		                    </button>
		                    <ul class="dropdown-menu">
		                        <li><a ng-click="controller.changeSpeed(80)">-20%</a></li>
		                        <li><a ng-click="controller.changeSpeed(90)">-10%</a></li>
		                        <li><a ng-click="controller.changeSpeed(100)">0% (Default)</a></li>
		                        <li><a ng-click="controller.changeSpeed(110)">+10%</a></li>
		                        <li><a ng-click="controller.changeSpeed(120)">+20%</a></li>
		                    </ul>
		                </div>
		                <p><input type="checkbox" id="cratesCheckbox" ng-click="controller.toggleCrates()"> Random Crates Appear</p>
                    	<p><input type="checkbox" id="mcvCheckbox" ng-click="controller.toggleRedeployableMCV()"> Redeployable MCV</p>
	                </section>

                    <section class="col-md-6 rulesColumn">
	                    <p>Unit Health:</p>
	                    <div class="btn-group fullWidth">
	                        <button type="button" class="btn btn-default btn-sm dropdownBtn">{{$root.gameConfig.unitHealth}}%</button>
	                        <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdownArrow" data-toggle="dropdown">
	                            <span class="caret"></span>
	                            <span class="sr-only">Toggle Dropdown</span>
	                        </button>
	                        <ul class="dropdown-menu">
	                            <li><a ng-click="controller.changeUnitHealth(80)">-20%</a></li>
	                            <li><a ng-click="controller.changeUnitHealth(90)">-10%</a></li>
	                            <li><a ng-click="controller.changeUnitHealth(100)">0% (Default)</a></li>
	                            <li><a ng-click="controller.changeUnitHealth(110)">+10%</a></li>
	                            <li><a ng-click="controller.changeUnitHealth(120)">+20%</a></li>
	                        </ul>
	                    </div><br />

	                    <p>Building Health:</p>
	                    <div class="btn-group fullWidth">
	                        <button type="button" class="btn btn-default btn-sm dropdownBtn">{{$root.gameConfig.buildingHealth}}%</button>
	                        <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdownArrow" data-toggle="dropdown">
	                            <span class="caret"></span>
	                            <span class="sr-only">Toggle Dropdown</span>
	                        </button>
	                        <ul class="dropdown-menu">
	                            <li><a ng-click="controller.changeBuildingHealth(80)">-20%</a></li>
	                            <li><a ng-click="controller.changeBuildingHealth(90)">-10%</a></li>
	                            <li><a ng-click="controller.changeBuildingHealth(100)">0% (Default)</a></li>
	                            <li><a ng-click="controller.changeBuildingHealth(110)">+10%</a></li>
	                            <li><a ng-click="controller.changeBuildingHealth(120)">+20%</a></li>
	                        </ul>
	                    </div>

	                    <p>Turret Health:</p>
	                    <div class="btn-group fullWidth">
	                        <button type="button" class="btn btn-default btn-sm dropdownBtn">{{$root.gameConfig.turretHealth}}%</button>
	                        <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdownArrow" data-toggle="dropdown">
	                            <span class="caret"></span>
	                            <span class="sr-only">Toggle Dropdown</span>
	                        </button>
	                        <ul class="dropdown-menu">
	                            <li><a ng-click="controller.changeTurretHealth(80)">-20%</a></li>
	                            <li><a ng-click="controller.changeTurretHealth(90)">-10%</a></li>
	                            <li><a ng-click="controller.changeTurretHealth(100)">0% (Default)</a></li>
	                            <li><a ng-click="controller.changeTurretHealth(110)">+10%</a></li>
	                            <li><a ng-click="controller.changeTurretHealth(120)">+20%</a></li>
	                        </ul>
	                    </div>
                    </section>
                    <section class="col-md-12 rulesBtn">
						<button ng-click="controller.resetToDefault()" class="btn btn-sm form-button"><span class="glyphicon glyphicon-pencil"></span> Reset to default</button>
                	</section>
                </section>
            </div>
        </div>
	</section>

    <section ng-if="$root.gameLeader===false">      <!-- JOINER VIEW -->
        <div class="col-md-6">
        <h2 class="title">Game Configuration</h2>
	        <section class="col-md-6 rulesColumn">
		        <h3 class="subTitle">Selected Map</h3>
		        <div>
		            <table class="table" id="map-list">
		            <tr ng-repeat="map in $root.mapList | filter: {mapId: $root.gameConfig.mapId}">
		                <td class="whiteText">{{map.mapName}}</td>
		                <td class="whiteText">{{map.maxPlayers}} Players Max</td>
		            </tr>
		        </table>
		        </div>
		        <div>
			        <p>Starting Cash: {{$root.gameConfig.startingCash}}</p>
	                <p>Game Speed: </b>{{$root.gameConfig.gameSpeed}}</p>
	                <p>Unit Health: </b>{{$root.gameConfig.unitHealth}}</p>
	                <p>Building Health: </b>{{$root.gameConfig.buildingHealth}}</p>
	                <p>Turret Health: </b>{{$root.gameConfig.turretHealth}}</p>
                    <p>Random Crates: <span ng-if="$root.gameConfig.randomCrates===true">Enabled</span>
                    <span ng-if="$root.gameConfig.randomCrates===false">Disabled</span></p>
                    <p>Redeployable MCV: <span ng-if="$root.gameConfig.redeployableMCV===true">Enabled</span>
                    <span ng-if="$root.gameConfig.redeployableMCV===false">Disabled</span></p>
                </div>
	        </section>

	        <section class="col-md-6">
	            <h3 class="subTitle">Map Preview</h3>
		        <div class="map-preview">
		        </div>
	        </section>
        </div>
    </section>

	<section class="col-md-6">
        <h2 class="title">Lobby Chat</h2>
        <div class="container-fluid chat-container">
            <div ng-repeat="message in $root.lobbyMessages" class="whiteText">
                {{message.user}}: {{message.message}}
            </div>
        </div>
	    <form ng-submit="controller.callSendMessage(newMessage)">
		        <input type="text" placeholder="What would you like to say?" ng-model="newMessage" id="new-message" class="form-control">
	    </form>
    </section>

    <section class="col-md-12 player-table">
        <h2 class="title">Player Options</h2>
        <table class="table table-striped" id="game-player-list">
            <tr>
                <th>Player</th>
                <th>Faction</th>
                <th>Team</th>
                <th>Colour</th>
                <th>Ready</th>
            </tr>
            <tr ng-repeat="lobbyUser in $root.lobbyUserList">
                <td class="tdInfo" ng-if="(lobbyUser.linkedUser.id==-1 && $root.gameLeader===false)">{{lobbyUser.linkedUser.username}}</td>
                <td class="tdInfo" ng-if="lobbyUser.linkedUser.id!=-1 && $root.gameLeader===false">{{lobbyUser.linkedUser.username}}</td>
                <td class="tdInfo" ng-if="lobbyUser.linkedUser.id!=-1 && $root.gameLeader===true">
                    {{lobbyUser.linkedUser.username}}
                    <button type="button" ng-if="$root.gameLeader===true && lobbyUser.linkedUser.username!=$root.currentUser" class="btn btn-default btn-sm" style="float: right" ng-click="controller.callChangeLeader(lobbyUser.linkedUser.id)">Make Leader</button>
                </td>
                <td class="tdInfo" ng-if="lobbyUser.linkedUser.id==-1 && $root.gameLeader===true">
                    <div class="btn-group fullWidth" ng-if="$root.gameLeader===true">
                        <button type="button" class="btn btn-default btn-sm dropdownBtn">{{lobbyUser.linkedUser.username}}</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdownArrow" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu fullWidth">
                            <li ng-if="lobbyUser.linkedUser.username!=='Open'"><a ng-click="controller.openSlot()">Open</a></li>
                            <li ng-if="lobbyUser.linkedUser.username!=='Closed'"><a ng-click="controller.closeSlot()">Close</a></li>
                        </ul>
                    </div>
                </td>
                <td class="tdInfo" ng-if="lobbyUser.factionId==-1">N/A</td>
                <td class="tdInfo" ng-if="lobbyUser.factionId==0">Allied</td>
                <td class="tdInfo" ng-if="lobbyUser.factionId==1">Soviet</td>
                <td class="tdInfo" ng-if="lobbyUser.factionId==3">Empire of the Rising Sun</td>
                <td class="tdInfo textCentral">
                    <!-- Split button -->
                    <div class="btn-group" ng-if="lobbyUser.linkedUser.username==$root.currentUser">
                        <button type="button" class="btn btn-default btn-sm" ng-if="lobbyUser.playerTeam!=0">{{lobbyUser.playerTeam}}</button>
                        <button type="button" class="btn btn-default btn-sm" ng-if="lobbyUser.playerTeam==0">-</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="controller.callChangeTeam(0)">-</a></li>
                            <li><a ng-click="controller.callChangeTeam(1)">1</a></li>
                            <li><a ng-click="controller.callChangeTeam(2)">2</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" ng-if="lobbyUser.linkedUser.username!=$root.currentUser">
                        <div ng-if="lobbyUser.playerTeam!=0">{{lobbyUser.playerTeam}}</div>
                        <div ng-if="lobbyUser.playerTeam==0">-</div>
                    </div>
                </td>
                <td class="tdInfo textCentral">
                    <!-- Split button -->
					<div class="btn-group" ng-if="lobbyUser.linkedUser.username==$root.currentUser">
					    <button type="button" class="btn btn-default btn-sm">{{lobbyUser.playerColour}}</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
					    <ul class="dropdown-menu">
					        <li ng-repeat="colour in $root.colourList"><a ng-click="controller.callChangeColour(colour)">{{colour}}</a></li>
						</ul>
					</div>
					<div class="btn-group" ng-if="lobbyUser.linkedUser.username!=$root.currentUser">
                        {{lobbyUser.playerColour}}
					</div>
				</td>
                <td class="tdInfo textCentral" ng-if="$root.gameLeader===false">
                    <input type="button" class="btn btn-success btn-sm" ng-if="lobbyUser.linkedUser.username==$root.currentUser && !lobbyUser.ready" value="Ready?" ng-click="controller.toggleUserReady()" id="toggle-ready">
                    <div ng-if="lobbyUser.linkedUser.username==$root.currentUser && lobbyUser.ready">
                        <span class="glyphicon glyphicon-ok" ng-if="lobbyUser.ready"></span>
                    </div>
                    <div ng-if="lobbyUser.linkedUser.username!=$root.currentUser">
                        <span class="glyphicon glyphicon-ok" ng-if="lobbyUser.ready"></span>
                        <span class="glyphicon glyphicon-remove" ng-if="!lobbyUser.ready"></span>
                    </div>
                </td>
                <td class="textCentral" ng-if="$root.gameLeader===true">
                    <input type="button" class="btn btn-success btn-sm" ng-if="$root.notReadyCount==0 && lobbyUser.linkedUser.username==$root.currentUser && $root.connectedUsers!=1" value="Start Game" ng-click="controller.callStartGame()" id="start-game">
                    <input type="button" class="btn btn-sm disabled" ng-disabled="$root.notReadyCount!=0 || $root.connectedUsers==1" ng-if="($root.notReadyCount!=0 && lobbyUser.linkedUser.username==$root.currentUser) || ($root.connectedUsers==1 && lobbyUser.linkedUser.username==$root.currentUser)" value="Start Game" ng-click="controller.callStartGame()" id="start-game">
                    <div ng-if="lobbyUser.linkedUser.username!=$root.currentUser">
                        <span class="glyphicon glyphicon-ok" ng-if="lobbyUser.ready"></span>
                        <span class="glyphicon glyphicon-remove" ng-if="!lobbyUser.ready"></span>
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <div class="col-md-12">
    	<button ng-click="controller.callLeaveGame()" class="btn btn-default btn-sm" style="float: right"><span class="glyphicon glyphicon-euro"></span> Leave Lobby</button>
    </div>

</div>