<div class="gwa-lobby">
	<h1>LOBBY PAGE</h1>

	<section ng-if="!$root.gameLeader">
        <h2>Game Options</h2>

        <div class="col-md-6">
	        <ul class="nav nav-tabs col-md-12" ng-if="tabSelect!=='Game Rules'">
				<li class="active"><a>Map Selection</a></li>
				<li><a ng-click="controller.setTab('Game Rules')">Game Rules</a></li>
			</ul>
			<ul class="nav nav-tabs col-md-12" ng-if="tabSelect==='Game Rules'">
                <li><a ng-click="controller.setTab('Map Selection')">Map Selection</a></li>
                <li class="active"><a>Game Rules</a></li>
            </ul>
	        <div ng-if="tabSelect!=='Game Rules'">
		        <section class="col-md-6">
		        <h3>Map Selection</h3>
		        <table class="table table-striped map-table" id="map-list">
		            <tr>
		                <th>Map Name</th>
		                <th>Players</th>
		                <th>Select</th>
		            </tr>
		            <tr ng-repeat="map in $root.mapList">
		                <td>{{map.mapName}}</td>
		                <td>{{map.maxPlayers}}</td>
		                <td>
		                    <button type="button" class="btn btn-default btn-sm" ng-click="controller.changeMap(map.mapId)" ng-if="$root.gameConfig.mapId!=map.mapId">Select</button>
		                    <span class="glyphicon glyphicon-ok" ng-if="$root.gameConfig.mapId==map.mapId"></span>
		                </td>
		            </tr>
		        </table>
		        </section>

                <section class="col-md-6">
                    <h3>Map Preview</h3>
                    <div class="map-preview">
                    </div>
                </section>
	        </div>

            <div ng-if="tabSelect==='Game Rules'">
                <section class="col-md-12">
                <h3>Game Rules</h3>
                    HELLO
                </section>
            </div>
        </div>
	</section>

    <section ng-if="$root.gameLeader">
        <h2>Game Options</h2>
        <section class="col-md-3">
	        <h3>Selected Map</h3>
	        <div>
	            <table class="table table-striped map-table" id="map-list">
	            <tr>
	                <th>Map Name</th>
	                <th>Players</th>
	            </tr>
	            <tr ng-repeat="map in $root.mapList | filter: {mapId: $root.gameConfig.mapId}">
	                <td ng-if="map.mapId==$root.gameConfig.mapId">{{map.mapName}}</td>
	                <td ng-if="map.mapId==$root.gameConfig.mapId">{{map.maxPlayers}}</td>
	            </tr>
	        </table>
	        </div>
        </section>

        <section class="col-md-3">
            <h3>Maps Preview</h3>
	        <div class="map-preview">
	        </div>
	        <h3>Leave Game</h3>
            <button ng-click="controller.callLeaveGame()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-euro"></span> Leave Lobby</button>
        </section>
    </section>

	<section class="col-md-6">
        <h2>Lobby Chat</h2>
        <div class="container-fluid chat-container">
            <div ng-repeat="message in $root.lobbyMessages">
                {{message.user}}: {{message.message}}
            </div>
        </div>
        <div class="row">
	        <form ng-submit="controller.callSendMessage(newMessage)" class="col-md-10">
		        <input type="text" placeholder="What would you like to say?" ng-model="newMessage" id="new-message" class="form-control">
	        </form>
	        <button ng-click="controller.callSendMessage(newMessage)" class="btn col-md-2 btn-sm"><span class="glyphicon glyphicon-user"></span> Send</button>
        </div>
    </section>

    <section class="col-md-12 player-table">
        <h2>Player Options</h2>
        <table class="table table-striped" id="game-player-list">
            <tr>
                <th>Player</th>
                <th>Faction</th>
                <th>Team</th>
                <th>Colour</th>
                <th>Ready</th>
            </tr>
            <tr ng-repeat="lobbyUser in $root.lobbyUserList">
                <td ng-if="(lobbyUser.linkedUser.id==-1 && !$root.gameLeader)">{{lobbyUser.linkedUser.username}}</td>
                <td ng-if="lobbyUser.linkedUser.id!=-1 && !$root.gameLeader">{{lobbyUser.linkedUser.username}}</td>
                <td ng-if="lobbyUser.linkedUser.id!=-1 && $root.gameLeader">
                    {{lobbyUser.linkedUser.username}}
                    <button type="button" ng-if="$root.gameLeader && lobbyUser.linkedUser.username!=$root.currentUser" class="btn btn-default btn-sm" style="float: right" ng-click="controller.callChangeLeader(lobbyUser.linkedUser.id)">Make Leader</button>
                </td>
                <td ng-if="lobbyUser.linkedUser.id==-1 && $root.gameLeader">
                    <div class="btn-group" ng-if="$root.gameLeader">
                        <button type="button" class="btn btn-default btn-sm">{{lobbyUser.linkedUser.username}}</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-if="lobbyUser.linkedUser.username!=='Open'"><a ng-click="controller.openSlot()">Open</a></li>
                            <li ng-if="lobbyUser.linkedUser.username!=='Closed'"><a ng-click="controller.closeSlot()">Close</a></li>
                        </ul>
                    </div>
                </td>
                <td ng-if="lobbyUser.factionId==-1">N/A</td>
                <td ng-if="lobbyUser.factionId==0">Allied</td>
                <td ng-if="lobbyUser.factionId==1">Soviet</td>
                <td ng-if="lobbyUser.factionId==3">Empire of the Rising Sun</td>
                <td>
                    <!-- Split button -->
                    <div class="btn-group" ng-if="lobbyUser.linkedUser.username==$root.currentUser">
                        <button type="button" class="btn btn-default btn-sm" ng-if="lobbyUser.playerTeam!=0">{{lobbyUser.playerTeam}}</button>
                        <button type="button" class="btn btn-default btn-sm" ng-if="lobbyUser.playerTeam==0">-</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="controller.callChangeTeam(0)">-</a></li>
                            <li><a ng-click="controller.callChangeTeam(1)">1</a></li>
                            <li><a ng-click="controller.callChangeTeam(2)">2</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" ng-if="lobbyUser.linkedUser.username!=$root.currentUser">
                        <div ng-if="lobbyUser.playerTeam!=0">{{lobbyUser.playerTeam}}</div>
                        <div ng-if="lobbyUser.playerTeam==0">-</div>
                    </div>
                </td>
                <td>
                    <!-- Split button -->
					<div class="btn-group" ng-if="lobbyUser.linkedUser.username==$root.currentUser">
					    <button type="button" class="btn btn-default btn-sm">{{lobbyUser.playerColour}}</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
					    <ul class="dropdown-menu">
					        <li ng-repeat="colour in $root.colourList"><a ng-click="controller.callChangeColour(colour)">{{colour}}</a></li>
						</ul>
					</div>
					<div class="btn-group" ng-if="lobbyUser.linkedUser.username!=$root.currentUser">
                        {{lobbyUser.playerColour}}
					</div>
				</td>
                <td ng-if="!$root.gameLeader">
                    <input type="button" class="btn btn-success btn-sm" ng-if="lobbyUser.linkedUser.username==$root.currentUser && !lobbyUser.ready" value="Ready?" ng-click="controller.toggleUserReady()" id="toggle-ready">
                    <div ng-if="lobbyUser.linkedUser.username==$root.currentUser && lobbyUser.ready">
                        <span class="glyphicon glyphicon-ok" ng-if="lobbyUser.ready"></span>
                    </div>
                    <div ng-if="lobbyUser.linkedUser.username!=$root.currentUser">
                        <span class="glyphicon glyphicon-ok" ng-if="lobbyUser.ready"></span>
                        <span class="glyphicon glyphicon-remove" ng-if="!lobbyUser.ready"></span>
                    </div>
                </td>
                <td ng-if="$root.gameLeader">
                    <input type="button" class="btn btn-success btn-sm" ng-if="$root.notReadyCount==0 && lobbyUser.linkedUser.username==$root.currentUser && $root.connectedUsers!=1" value="Start Game" ng-click="controller.callStartGame()" id="start-game">
                    <input type="button" class="btn btn-sm disabled" ng-if="($root.notReadyCount!=0 && lobbyUser.linkedUser.username==$root.currentUser) || ($root.connectedUsers==1 && lobbyUser.linkedUser.username==$root.currentUser)" value="Start Game" ng-click="controller.callStartGame()" id="start-game">
                    <div ng-if="lobbyUser.linkedUser.username!=$root.currentUser">
                        <span class="glyphicon glyphicon-ok" ng-if="lobbyUser.ready"></span>
                        <span class="glyphicon glyphicon-remove" ng-if="!lobbyUser.ready"></span>
                    </div>
                </td>
            </tr>
        </table>
    </section>
    <div class="col-md-12">
            <button ng-click="controller.callLeaveGame()" class="btn btn-default btn-lg" style="float: right"><span class="glyphicon glyphicon-euro"></span> Leave Lobby</button>
        </div>

</div>