<div class="gwa-servers">
	<h1>SERVERS PAGE ({{ servers.length }} servers)</h1>
	
	<table class="table table-striped">
		<tr>
			<th>Lobby Id</th>
			<th>Map Id</th>
			<th>Player Count</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="server in servers">
			<td>{{ server.lobbyId }}</td>
			<td>{{ server.mapId }}</td>
			<td>{{ server.connectedUsersString.length }} / {{ server.maxPlayers }}</td>
			<td><button type="button" class="button" ng-click="controller.joinGame(server.lobbyId)">Join Game</button></td>
		</tr>
	</table>
	
	<button type="button" class="button" ng-click="controller.createGame()">Create Game</button>
</div>